/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}
html {
  background-image: url('./assets/rm2back.png');
  height: 115%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
